<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>829924956073-3orfga3eg1nlcjv21fsdn4uhf4v4if2m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.829924956073-3orfga3eg1nlcjv21fsdn4uhf4v4if2m</string>
	<key>API_KEY</key>
	<string>AIzaSyDspWgDKdmrZAQbMNJkjkdXTNZLApN4nUg</string>
	<key>GCM_SENDER_ID</key>
	<string>829924956073</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.herfaty</string>
	<key>PROJECT_ID</key>
	<string>herfaty-54792</string>
	<key>STORAGE_BUCKET</key>
	<string>herfaty-54792.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829924956073:ios:723b6aab1c49b2d16056b8</string>
	<key>DATABASE_URL</key>
	<string>https://herfaty-54792-default-rtdb.firebaseio.com</string>
</dict>
</plist>